<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" type="button">Add Recepie</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">Recepie Name</h4>
                <p class="list-group-item-text">Recepie Discription</p>
            </div>
            <span class="pull-right">
                <img src="" alt="" style="width: 50px;" class="img-responsive">
            </span>
        </a>
    </div>
</div>